@{
    ViewBag.Title = "Restaurant";
    int counter1 = 0;
    int counter2 = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @using (Html.BeginForm())
    {
        <select name="select">
            @foreach (string item in ViewBag.Dishes)
            {
                <option value=@counter1>@item</option>
                counter1++;
            }
        </select>
        <input type="submit" value="Send" />
    }

    @if (ViewBag.Pricelists != null)
    {
        <div class="table-bordered" style="display: flex; width: 250px">
            <ul data-role="listview" data-view="table">
                @foreach (string item in ViewBag.Pricelists)
                {
                    <li value=@counter2>@item</li>
                    counter2++;
                }
            </ul>
        </div>
    }
    

</div>